In [0]:
import pandas

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [10]:
import pandas as pd

COLUMN_NAME_TOTAL = '合計'

# csvを読み込んでDataFrameを取得
pokemon_data_frame = pd.read_csv('/content/drive/My Drive/dataset/pokemon_status.csv', encoding= 'shift-jis', engine = 'python')

# DataFrameの先頭5行を表示
pokemon_data_frame.head()

# 合計値の高いポケモン上位5位を表示
max_total = pokemon_data_frame.sort_values(COLUMN_NAME_TOTAL, ascending = False)
max_total.head()

# 合計値が低いポケモン下位5位を表示
mix_tolal = pokemon_data_frame.sort_values(COLUMN_NAME_TOTAL, ascending=True)
mix_tolal.head()

# 欠損値を列単位でカウント
print(pokemon_data_frame.isnull().sum())

# 要約統計量の表示
pokemon_data_frame.fillna(0)
pokemon_data_frame.describe()

図鑑番号       0
ポケモン名      0
タイプ１       0
タイプ２     422
通常特性１      0
通常特性２    451
夢特性      180
HP         0
こうげき       0
ぼうぎょ       0
とくこう       0
とくぼう       0
すばやさ       0
合計         2
dtype: int64

               HP        こうげき        ぼうぎょ  ...        とくぼう        すばやさ          合計
count  909.000000  909.000000  909.000000  ...  909.000000  909.000000  907.000000
mean    69.500550   79.588559   74.239824  ...   72.229923   69.191419  436.343991
std     26.129406   32.307139   30.922023  ...   27.944386   36.750509  119.406787
min      1.000000    5.000000    5.000000  ...   20.000000    5.000000  175.000000
25%     50.000000   55.000000   50.000000  ...   50.000000   45.000000  330.000000
50%     66.000000   75.000000   70.000000  ...   70.000000   65.000000  455.000000
75%     80.000000  100.000000   90.000000  ...   90.000000   90.000000  515.000000
max    255.000000  190.000000  230.000000  ...  230.000000  600.000000  780.000000

[8 rows x 7 columns]